/*color pallete: https://colorhunt.co/palette/d9dfc6eff3eafffdf0fff2c2*/

body {
  background-color: #EFF3EA;
}

header {
  background-color: #D9DFC6;
  padding: 20px 100px;
}

.logo {
  background-color: #D9DFC6;
  font-size: 2.4rem;
  font-family: 'Satisfy';
}

main {
  display: grid;
  grid-template-columns: 450px 880px;
  padding-top: 20px;
  gap: 20px;
  width: 1350px;
  margin: auto;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: #FFF2C2;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.heading-container {
  display: flex;
  justify-content: space-between;
}

img:hover {
  cursor: pointer;
}

.chevron-image.not-expanded {
  transition: transform 200ms;
}

.chevron-image.expanded {
  transform: rotate(180deg);
  transition: transform 150ms;
}

.content-container {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  height: 40px;
  border: none;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-size: medium;
}

.start-end-container {
  display: flex;
}

button {
  background-color: #A08963;
  border: none;
  padding: 10px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: background-color 300ms;
}

button:hover {
  background-color: darkblue;
  cursor: pointer;
  transition: background-color 300ms;
}

.buttons-container {
  display: flex;
  gap: 20px;
}

ul {
  list-style: none;
}

.content-list {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

textarea {
  padding: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  resize: none;
}


/*Right Ride for Rendering*/
.right-side {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  height: 1000px;
  margin-bottom: 20px;
}

.personal-detail-rendered {
  background-color: #faebd7;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  gap: 10px;
}

.contact-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.rendered-container {
  width: 750px;
  margin: 0 auto;
}

.rendered-title {
  text-align: center;
  background-color: #D9EAFD;
  margin: 20px 0;
  padding: 10px
}

.rendered-content {
  display: grid;
  grid-template-columns: 200px auto;
  padding-bottom: 10px;
}

.smaller-side, .larger-side {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.school-rendered-detail {
  font-weight: bold;
}

.degree-rendered-detail, .position-title-rendered {
  font-style: italic;
}