/*color pallete: https://colorhunt.co/palette/d9dfc6eff3eafffdf0fff2c2*/

body {
  background-color: #FFFDF0;
}

header {
  background-color: #D9DFC6;
  padding: 20px 100px;
}

.logo {
  background-color: #D9DFC6;
  font-size: 2.4rem;
  font-family: 'Satisfy';
}

main {
  display: grid;
  grid-template-columns: 450px 800px;
  margin: 20px 100px;
  padding-top: 20px;
  gap: 60px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: #FFF2C2;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.personal-details-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

input {
  height: 40px;
  border: none;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.right-side {
  display: flex;
  flex-direction: column;
}

.personal-details-render {
  background-color: aqua;
}